.antiscroll-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.antiscroll-scrollbar {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px #fff;
  position: absolute;
  opacity: 0;
  transition:
    opacity linear 300ms,
    width 300ms,
    height 300ms;
}

.antiscroll-scrollbar-shown {
  opacity: 1;
}

.antiscroll-scrollbar-horizontal {
  height: 4px;
  margin-left: 2px;
  bottom: 2px;
  left: 0;
}

.antiscroll-scrollbar-horizontal:hover,
.antiscroll-scrollbar-horizontal.antiscroll-scrollbar-dragging {
  height: 7px;
}

.antiscroll-scrollbar-vertical {
  width: 4px;
  margin-top: 2px;
  right: 2px;
  top: 0;
}

.antiscroll-scrollbar-vertical:hover,
.antiscroll-scrollbar-vertical.antiscroll-scrollbar-dragging {
  width: 7px;
}

.antiscroll-inner {
  overflow: scroll;
  scrollbar-width: none;
}

.antiscroll-inner::-webkit-scrollbar {
  display: none;
}
